body {
    background-color: #FAF9F9;
    font-family: 'Raleway', sans-serif !important;
}

.navbar {
    background-color: #555B6E;
}
.navbar-centred{
    
}
@media only screen and (min-width: 768px) {
    .navbar-centred {
        color: red;
        float: right;
        padding: 0px;
        text-align: center;
        width: 100%;
    }
}
.navbar-brand {float:none;}

h4 {
    color: #89B0AE;
    text-align: center;
}

h5 {
    color: #89B0AE;
}
